*.orig

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

build
dist
node_modules
npm-debug.log
coverage


*.config
*.swp
*.cs
*.csproj
*.txt

.idea
*.iml

.jshintignore
.jshintrc
.validate.json
